body {
  font-family: system-ui;
  background: #f06d06;
  color: white;
  text-align: center;
}
h1{
  text-align: center;
  color: black;
  border-style: dotted solid;
}


 }
#p1{
  text-align: left;
}
ol{
  text-align: left;
}

h3{
  text-align: left;
}
#div1{
  border-style: outset;
}